
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Be Vietnam Pro;
    font-style: normal;
    /*للخط  */
}

a {
    text-decoration-line: none;
    color:rgb(186, 128, 57);
}

u{
    font-size: x-large;
    color: rgb(48, 107, 122);
}
em{
    color: cadetblue;
    font-size: x-large;
    margin: 15px;
}
blockquote{
    font-size: x-large;
}
button{
    border-radius: 5px;
    padding: 10px;
}
button:hover{
    background-color: rgb(70, 149, 30);
}